.App {
  text-align: center;
  color: #001233;
  width: 100%;
  height: 100%;
}
.Right {
  width: 25%;
  height: 60vh;
  align-items: center;
  justify-content: center;
  display: block;
  float: left;
  font-size: calc(10px + 2vmin);
  border-style: solid;
  border-width: 3px;
  border-radius: 5%;
}
.Button {
  height: 30%;
  width: 100%;
  display: block;
}
.Puppies {
  width: 30%;
  display: flex;
  position: absolute;
  float: left;
  margin-left: 30vh;
}
.Button-result {
  height: 70%;
  width: 100%;
  display: block;
}
.Left {
  width: 70%;
  height: 50vh;
  display: block;
  float: left;
}
.Header {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.RandomDog {
  width: 70%;
  height: 70%;
}
.RandomResult {
  height: 100%;

}

.Bot {
  width: 100%;
  display: block;
  height: 30%;
  background: #001233;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
